In [4]:
import pandas as pd
import spacy

In [5]:
nlp = spacy.load('en_core_web_sm')

In [6]:
train_df = pd.read_csv('original/train.csv')

In [7]:
# local_or_sum and attribute 
co_mat_ls_a = pd.crosstab(train_df.local_or_sum, train_df.attribute1)
co_mat_ls_a

attribute1,action,causal relationship,character,feeling,outcome resolution,prediction,setting
local_or_sum,,,,,,,
local,2111,1695,751,622,641,134,413
summary,93,254,41,43,41,141,9

In [8]:
# local_or_sum and ex_or_im
co_mat_ls_ei = pd.crosstab(train_df.local_or_sum, train_df.ex_or_im)
co_mat_ls_ei

ex_or_im      explicit  implicit
local_or_sum
local             5017      1350
summary            245       377

In [9]:
# attribute1 and ex_or_im
co_mat_attr_ex = pd.crosstab(train_df.attribute1, train_df.ex_or_im)
co_mat_attr_ex

ex_or_im             explicit  implicit
attribute1
action                   1982       222
causal relationship      1100       849
character                 746        46
feeling                   283       382
outcome resolution        606        76
prediction                128       147
setting                   417         5

In [10]:
# token lemma
first_word_lemma = []
for question in train_df.question:
    doc = nlp(question.lower())
    first_word_lemma.append(doc[0].lemma_)

In [11]:
set(first_word_lemma)

{'accord',
 'after',
 'be',
 'do',
 'from',
 'how',
 'on',
 'to',
 'what',
 'when',
 'where',
 'which',
 'who',
 'whose',
 'why',
 'will',
 'wow'}

In [12]:
# question and attribute 
co_mat_qu_attr = pd.crosstab(first_word_lemma, train_df.attribute1)
co_mat_qu_attr

attribute1,action,causal relationship,character,feeling,outcome resolution,prediction,setting
row_0,,,,,,,
accord,0,1,0,0,0,0,0
after,1,0,0,0,0,0,0
be,0,0,1,0,0,0,0
do,0,0,1,1,0,0,0
from,1,0,0,0,0,0,0
how,297,21,66,661,7,101,5
on,0,0,0,0,0,0,1
to,0,0,1,0,0,0,0
what,1844,47,113,2,675,157,30
when,7,0,0,0,0,0,8
where,21,0,3,0,0,0,376
which,3,0,6,0,0,0,1
who,25,1,595,0,0,8,1
whose,1,0,4,0,0,0,0
why,4,1879,1,1,0,7,0
will,0,0,0,0,0,2,0
wow,0,0,1,0,0,0,0

In [13]:
# question and local_or_sum 
co_mat_qu_ls = pd.crosstab(first_word_lemma, train_df.local_or_sum)
co_mat_qu_ls

local_or_sum  local  summary
row_0
accord            1        0
after             1        0
be                1        0
do                2        0
from              1        0
how            1025      133
on                1        0
to                1        0
what           2664      204
when             15        0
where           391        9
which            10        0
who             605       25
whose             5        0
why            1641      251
will              2        0
wow               1        0

In [14]:
# local_or_sum and ex_or_im
co_mat_qu_es = pd.crosstab(first_word_lemma, train_df.ex_or_im)
co_mat_qu_es

ex_or_im  explicit  implicit
row_0
accord           1         0
after            1         0
be               1         0
do               1         1
from             1         0
how            603       555
on               1         0
to               1         0
what          2563       305
when            15         0
where          394         6
which           10         0
who            608        22
whose            5         0
why           1056       836
will             0         2
wow              1         0